

.main{
    background: #006666;
    color: white;

    section + section{
        margin-top: 3rem;
    }
    .nameHeader {
        font-family: 'Montserrat', sans-serif;
    }
    
    section > h1 {
    font-family: 'Space Grotesk', sans-serif;
    }
    
    .CircularProgressbar-text{
        color:white;
    }

    a:not(:global(.btn)){
        font-family: 'Inter', sans-serif;
        text-decoration: none;
        color: #f8ffb4;
    }

    a:not(:global(.btn)):hover{
        text-decoration: underline;
        color: #FFCC00; 
    }

    .card {
        background-color: #Fff;    /* white for clarity */
        color: #006666;               /* matches the theme */
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
    .card:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

    .cert-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .cert-item a {
        flex-shrink: 0; /* Keeps link inline with icon */
    }
    
    .cert-item span {
        color: #D2D2D2;
        font-size: 0.9rem;
    }
      
}

/* ProjectCard.module.css */
.cardTitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    position: relative;
    padding-bottom: 0.25rem;
    font-weight: bold;
    color: #0098be;
    text-shadow: 1px 1px 1px #777;
  }
  
  .cardTitle::after {
    /* underline hover effect */
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #61dafb;
    transition: width 0.3s;
  }
  
  .cardTitle:hover::after {
    width: 100%;
  }
  